<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Pandas" data-toc-modified-id="Pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Pandas</a></span><ul class="toc-item"><li><span><a href="#Pandas-data-formats" data-toc-modified-id="Pandas-data-formats-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Pandas data formats</a></span><ul class="toc-item"><li><span><a href="#Pandas-Series:" data-toc-modified-id="Pandas-Series:-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Pandas Series:</a></span></li><li><span><a href="#Pandas-Dataframe" data-toc-modified-id="Pandas-Dataframe-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Pandas Dataframe</a></span><ul class="toc-item"><li><span><a href="#select-data-regions-in-DataFrame:" data-toc-modified-id="select-data-regions-in-DataFrame:-1.1.2.1"><span class="toc-item-num">1.1.2.1&nbsp;&nbsp;</span>select data regions in DataFrame:</a></span></li></ul></li><li><span><a href="#Change-content-of-dataframe" data-toc-modified-id="Change-content-of-dataframe-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Change content of dataframe</a></span></li><li><span><a href="#Functions-can-be-applied-to-content" data-toc-modified-id="Functions-can-be-applied-to-content-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Functions can be applied to content</a></span></li></ul></li><li><span><a href="#First-practical-example:-Old-faithful-data" data-toc-modified-id="First-practical-example:-Old-faithful-data-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>First practical example: Old faithful data</a></span></li><li><span><a href="#Handling-missing-data-or-null-values-in-Pandas" data-toc-modified-id="Handling-missing-data-or-null-values-in-Pandas-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Handling missing data or null-values in Pandas</a></span><ul class="toc-item"><li><span><a href="#Python-None-object" data-toc-modified-id="Python-None-object-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Python None object</a></span></li><li><span><a href="#Python-NaN" data-toc-modified-id="Python-NaN-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Python NaN</a></span></li><li><span><a href="#NaN-and-None-in-Pandas" data-toc-modified-id="NaN-and-None-in-Pandas-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>NaN and None in Pandas</a></span><ul class="toc-item"><li><span><a href="#Example-with-real-data" data-toc-modified-id="Example-with-real-data-1.3.3.1"><span class="toc-item-num">1.3.3.1&nbsp;&nbsp;</span>Example with real data</a></span></li></ul></li></ul></li><li><span><a href="#Aggregations-in-Panda" data-toc-modified-id="Aggregations-in-Panda-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Aggregations in Panda</a></span><ul class="toc-item"><li><span><a href="#Grouping-in-Pandas" data-toc-modified-id="Grouping-in-Pandas-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Grouping in Pandas</a></span></li></ul></li><li><span><a href="#Second-Example----Planets-Data" data-toc-modified-id="Second-Example----Planets-Data-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Second Example -  Planets Data</a></span></li><li><span><a href="#Third-Example---Spread-sheet-data" data-toc-modified-id="Third-Example---Spread-sheet-data-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Third Example - Spread sheet data</a></span></li><li><span><a href="#Fourth-Example---Time-series-data" data-toc-modified-id="Fourth-Example---Time-series-data-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Fourth Example - Time series data</a></span></li></ul></li></ul></div>

## Pandas


Pandas is a set of Python Modules for  data analysis, i.e. 

* IO Tools to handle many different data formats, such as   *txt, csv, xls, json, hdf5, sql, ...*
* Tools to manipulate (filter, fix, extract, extend, ...) the data
* special visualization tools (on top of matplotlib)
* many features to combine, group, select, aggregate  specific properties of the data

A couple of smart instructions in pandas allow complex data-mining procedures which would otherwise take substantial programming effort.

### Pandas data formats

Pandas builds on special array types, which build/extend numpy arrays.

* Series: one-dimensional array, can contain different data types, and supports flexible indexing
* DataFrame: two-dimensional array, basically a table with rows and columns, can also contain different data types and has very 
flexible indexing

In [1]:
# Pandas Setup: 
import pandas as pd
# and usually as well:
import numpy as np
import matplotlib.pyplot as plt

#### Pandas Series:

In [ ]:
obj=pd.Series([4,3,5,-6])
print(type(obj))
print(obj)

In [ ]:
# Pandas series is not just array but has associated index
print(obj.values)
print(obj.index)

In [ ]:
type(obj.values)

In [ ]:
obj[2]

In [ ]:
# default index is just integer range
#
# But can specify different index explizitly:

obj=pd.Series([4,3,5,-6],index=['a','b','c','d'])
print(obj)
print(obj.index)

In [ ]:
# can use explicit index 'a'-'d' for range
obj['a':'c'] # watch out, last element included

In [ ]:
# or implicit numerical index:
obj[0:2] # watch out, last element not included

In [ ]:
# or change index later on:
obj.index=['I','II','III','IV']
obj

In [ ]:
# Usual numpy array operations can be used for Pandas series

obj[obj>3] # select elements

In [ ]:
obj**2 # square

In [ ]:
np.exp(obj) # exp fct

#### Pandas Dataframe

the 2D version, they have both row and column index

In [ ]:
# example creation 
# list of dates and row index
dates = pd.date_range('20130101', periods=6).to_native_types()
print(dates)
# list of chars as row-index
cols=list('ABCD')
# real data as numpy 2d array filled with randoms nums:
mydata = np.random.randn(6,4)
df = pd.DataFrame( mydata, index=dates, columns=cols)

print(df)

##### select data regions in DataFrame:

In [ ]:
# column
df['A'] # column index

In [ ]:
df.A # in most cases also this notation works to select col

In [ ]:
# select row with loc and explicit index
print(df.loc['2013-01-05'])

In [ ]:
# select row with iloc and implicit index
print(df.iloc[4])

In [ ]:
# element with col and row
df['B'].loc['2013-01-05']

In [ ]:
# or more direct
df['B']['2013-01-05']

In [ ]:
# or range of rows
df['A']['2013-01-01':'2013-01-04']

In [ ]:
# or implicit row index
df['B'][0:3]

In [ ]:
df['A']['2013-01-01':'2013-01-05']

***
Selecting range of rows also needs function

In [ ]:
df['B':'C',:] # naive attempt does not work

In [ ]:
df.loc[:,'B':'C'] # df.loc allows to select arbitrary regions with key index

In [ ]:
df.iloc[:,1:3] # equivalent with numerical col index

In [ ]:
df.iloc[1:4,2:4] # arbitrary sub-range

In [ ]:
# transpose row <--> columns
df.T

#### Change content of dataframe
Many nice ways to modify content, some examples:

In [ ]:
df3 = df.copy() # independent copy
#df3['2013-01-04']
df3

In [ ]:
# delete row
df4=df3.drop('2013-01-04')
df4

In [ ]:
# df3 unchanged
df3

In [ ]:
# delete column, need to specify axis
# and set inplace to make change in Dataframe
df3.drop('A',axis=1,inplace=True)

In [ ]:
df3

In [ ]:
# add new column
df4 = df.copy()
df4['E'] = ['one', 'one','two','three','four','three']
df4

In [ ]:
# select specific rows 
df4[df4['E'].isin(['two','four'])]

#### Functions can be applied to content

In [ ]:
df

In [ ]:
df.apply(np.cumsum) # cumulative sum in each row

In [ ]:
df.apply(np.exp) # exponential

In [ ]:
df.mean()

In [ ]:
df.sum()

.... and much more stuff

### First practical example: Old faithful data 
*(Eruptions of Geysir in Yellowstone National Park)*

Redo it with Pandas ...

In [ ]:
# analyse old faithful data with pandas
import pandas as pd
import matplotlib.pyplot as plt
# can read data directly from web
# interpret as csv format 
# and import as Pandas dataframe 
d=pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/faithful.csv')

In [ ]:
d.info() # extract general info on dataframe

In [ ]:
d.head() # inspect first lines

In [ ]:
d.describe() # some basic statistic for each column

In [ ]:
d.columns

In [ ]:
# lengthy column names are unpractical, re-name
d.columns=['Index','El','Ew']
d.head()

In [ ]:
print (d.Ew) # print all rows for Ew

In [ ]:
# make plots directly with Pandas
d.El.plot.hist() # can call directly histogram for Pandas column
plt.xlabel('El')
fig=plt.figure() # trick to make new hist plot
d.Ew.plot.hist()
plt.xlabel('Ew')
d.plot.scatter('Ew','El'); # and also scatter plot

### Handling missing data or null-values in Pandas

#### Python None object
Python has special object `None` which is often used to specify empty or unassigned value to a variable

This can also be used or happen with Numpy/Pandas

In [ ]:
# 
vals1 = np.array([1, None, 3, 4])
vals1

In [ ]:
# results in object-array with very limited use,
# many numpy funcs/operations broken
vals1**2

#### Python NaN
NaN (Not-a-number) is special floating point value which indicates that value cannot be treated as regular number, generally used in programming as specified in IEEE floating-point standard.

Also defined for numpy (`np.nan`)

In [ ]:
vals2 = np.array([1, np.nan, 3, 4]) 
vals2.dtype

In [ ]:
# results in float array which can be used
# just no operation with the nan element  
vals2**2

####  NaN and None in Pandas

Pandas does not make that strict distinction but treats ``NaN`` and ``None`` basically the same:

In [ ]:
# pandas converts to nan and float array
a=pd.Series([1, np.nan, 2, None])

In [ ]:
a**2

Pandas has special functions to efficienlty handle None/NaN valuse:

- ``isnull()``: Generate a boolean mask indicating missing values
- ``notnull()``: Opposite of ``isnull()``
- ``dropna()``: Return a filtered version of the data
- ``fillna()``: Return a copy of the data with missing values filled or imputed

In [ ]:
data = pd.Series([1, np.nan, 'hello', None])
print (data)

In [ ]:
print (data.isnull()) # boolean output

In [ ]:
print (data[data.notnull()]) # select only non-missing values

In [ ]:
print (data.dropna()) # does the same

In [ ]:
print (data.fillna('Fehlt leider')) # fill something instead

For  **Dataframes** there are many more options for dropping (both axes) and filling, see chapter *Handling Missing Data* in Book

##### Example with real data
'planets' data (discussed further below) has many missing entries

Needs seaborn package:

Use alternative python setup: 

`module load anaconda3/2019.07 ` in shell

In [ ]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.info()

In [ ]:
planets.describe()

In [ ]:
planets.mass.plot.hist()

### Aggregations in Panda

In [ ]:
# simple df with gaussian random nums
df = pd.DataFrame({'A': np.random.randn(5),
                   'B': np.random.randn(5), 'C': np.random.randn(5)})
df

In [ ]:
df.describe() # gives column-wise statistics

These **aggregations** can also be called explicitly:

In [ ]:
print (df.A.mean(), df.A.std(), df.B.max())

By default aggregation is column-wise but one can also do row-wise:

In [ ]:
df.mean(axis='columns') # gives mean value by row

The following table summarizes some other built-in Pandas aggregations:

| Aggregation              | Description                     |
|--------------------------|---------------------------------|
| ``count()``              | Total number of items           |
| ``first()``, ``last()``  | First and last item             |
| ``mean()``, ``median()`` | Mean and median                 |
| ``min()``, ``max()``     | Minimum and maximum             |
| ``std()``, ``var()``     | Standard deviation and variance |
| ``mad()``                | Mean absolute deviation         |
| ``prod()``               | Product of all items            |
| ``sum()``                | Sum of all items                |

These are all methods of ``DataFrame`` and ``Series`` objects.

#### Grouping in Pandas
A frequent use case is that one is not just interested in overall aggregation but separated or split according to other criteria or keys.

A simple example:

In [ ]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': np.random.randn(6)}, columns=['key', 'data'])
df

Now one might be interested not just in overall aggregation (e.g. mean) but in aggregation separate for each key. 
Can in principle be done by selecting specific rows:

In [ ]:
print (df[df.key=='A'])
df[df.key=='A'].mean()

A much more powerful alternative is to apply `groupby`, this automatically splits dataframe in subframes and then arbitrary aggregations can be applied:

In [ ]:
df.groupby('key')

 `groupby` results in special object which allows subsequent aggregation calls:

In [ ]:
df.groupby('key').mean()

In [ ]:
df.groupby('key').describe()

**Illustrative figure to show effect of groupby**
* Sequence of
  * Split
  * Apply
  * Combine

![](figures/03.08-split-apply-combine.png)

### Second Example -  Planets Data

Planets data comes with the  [Seaborn package](http://seaborn.pydata.org/).
It gives information on planets that astronomers have discovered around other stars (known as *extrasolar planets* or *exoplanets* for short). It can be downloaded with a simple Seaborn command:

In [ ]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.shape

No big magic behind, simple csv file read via Pandas from Web server and stored as Dataframe

In [ ]:
# do usual inspection
planets.info()
planets.head()

In [ ]:
planets.describe()

In [ ]:
# some missing data, might consider to remove these lines
planets.dropna().describe()

In [ ]:
planets.groupby('method').mean()

In [ ]:
# or only specific columns
planets.groupby('method')['orbital_period'].mean()

In [ ]:
# again describe can be applied on sub-split
planets.groupby('method')['year'].describe()

**Of course we can also plot**

In [ ]:
planets.plot.scatter('mass','orbital_period')

Gives useful information on dataset, e.g. Radial Velocity is most frequent method, followed by Transit, but latter only applied from 2013 onwards, ...

### Third Example - Spread sheet data
** WLCG Computing Resources ** see 
https://wlcg-rebus.cern.ch/apps/pledges/resources/

In [ ]:
# json input
#dwlcg = pd.read_json('https://wlcg-rebus.cern.ch/apps/pledges/resources/2016/all/json')
dwlcg = pd.read_json('http://www-static.etp.physik.uni-muenchen.de/kurs/Computing/sw/source/wlcg.json')
dwlcg.info()

In [ ]:
dwlcg.head()

In [ ]:
dwlcg.describe() # not very meaningful, data too inhomogenous

In [ ]:
dwlcg.ATLAS.mean() # select col ATLAS and try to get mean -> error
#

Gives error:  
Empty fields had been filled as empty string (""), therefore columns which should contain numeric data have mix of numeric and string data and are treated as un-specific   *object* data type.

In [ ]:
dwlcg.info()

In [ ]:
# fix by enforcing conversion into numeric field
for s in ['ATLAS','CMS','ALICE','LHCb']:
    dwlcg[s]=dwlcg[s].apply(pd.to_numeric)
    print (s, dwlcg[s].count(), dwlcg[s].mean())

In [ ]:
dwlcg.info()

In [ ]:
dwlcg.ATLAS.mean() # now mean works ok

Still not meaningfull, mix of different types of resources

In [ ]:
dwlcg.groupby(['PledgeType'])['ATLAS'].mean()

Sum of resources for ATLAS

In [ ]:
dwlcg.groupby(['PledgeType']).mean() # for all

Further breakdown by country:

In [ ]:
dwlcg.groupby(['PledgeType','Country'])['ATLAS'].sum()

In [ ]:
# can also be further  used:
r = dwlcg.groupby(['PledgeType','Country'])['ATLAS'].sum()
print (r['CPU'])
print ('CPU UK:', r['CPU','UK'])
r[:,'UK']

In [ ]:
dr=r.unstack() # back to regular dataframe

In [ ]:
dr.head()

In [ ]:
r.head()

** Remark:**  
Such a spreadsheet can also be regarded as multi-dimensional data format:
1. Country
1. Federation
1. Experiment
1. PledgeType

For practical reasons it is stored and filled as a 2D table.
But with groupby one can basically get back these extra dimensions.

### Fourth Example - Time series data
Example on weather/climate data:

The "Deutsche Wetterdienst" has an archive with many decades of daily measurements from many weatherstations all over Germany:  http://www.dwd.de/DE/leistungen/klimadatendeutschland/klarchivtagmonat.html,
One Example is the dataset from Zugspitze Station which dates back to 
August 1, 1900.

The analysis of that data is instructive, e.g. to look for effects of climate change.

Pandas provides a few special methods which are very useful for time-series analysis:
- easy selection of time-periods
- resampling/averaging of data over arbitrary intervals
  - days, weeks, months, years...

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import datetime
import numpy as np
# csv data file from zip file dowlnoad from 
# http://www.dwd.de/DE/leistungen/klimadatendeutschland/klarchivtagmonat.html
# Messdatum als index und Interpretation als Datum (nicht nur String) 
#df=pd.read_csv('http://www-static.etp.physik.uni-muenchen.de/kurs/Computing/sw/source/produkt_klima_Tageswerte_19000801_20151231_05792.txt',';\s*',index_col='MESS_DATUM',parse_dates=['MESS_DATUM'],skipfooter=1)

df=pd.read_csv('http://www-static.etp.physik.uni-muenchen.de/kurs/Computing/sw/source/produkt_klima_tag_19000801_20181231_05792.txt',';\s*',index_col='MESS_DATUM',parse_dates=['MESS_DATUM'],engine='python')
print (df.size)
print (df.columns)
df.info()

# kryptische Abkuerzungen...
# TMK = mittlere Temperatur
# SHK_TAG = Schneehoehe
# ..
# Details siehe http://www-static.etp.physik.uni-muenchen.de/kurs/Computing/sw/source/Metadaten_Parameter_klima_tag_05792.html
#

In [ ]:
df.head()

In [ ]:
df['TMK']

df['TMK'].plot();
# starke Schwankungen, kein Trend erkennbar

In [ ]:
# nur fuer 1 Jahr
df['TMK']['1901'].plot();
# crucial to have Index recognized as date 
# to allow selection of time period ('1901'), etc

In [ ]:
# seit 2005
df['TMK']['2005':].plot()

In [ ]:
# re-sample over year
dfy=df['TMK'].resample('A').mean()
dfy.plot()

In [ ]:
# avg per quarter
dfq=df['TMK'].resample('Q-NOV').mean()

# Winter
dfq[dfq.index.quarter==1].plot()

# Summer
plt.figure()
dfq[dfq.index.quarter==3].plot()

# since 1970
plt.figure()
dfq[(dfq.index.quarter==3) & (dfq.index.year>1970)].plot()